.elementor-23 .elementor-element.elementor-element-385ac40d:not(.elementor-motion-effects-element-type-background),
.elementor-23 .elementor-element.elementor-element-385ac40d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #030B15;
}

.elementor-23 .elementor-element.elementor-element-385ac40d {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #1D242D;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    z-index: 9999;
}

.elementor-23 .elementor-element.elementor-element-385ac40d>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-23 .elementor-element.elementor-element-3a99063e.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-3a99063e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-5caaa9b9 {
    text-align: left;
}

.elementor-bc-flex-widget .elementor-23 .elementor-element.elementor-element-5eb08e8f.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-5eb08e8f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-d3b6c6f .elementor-menu-toggle {
    margin-left: auto;
}

.elementor-23 .elementor-element.elementor-element-d3b6c6f .elementor-nav-menu .elementor-item {
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-23 .elementor-element.elementor-element-d3b6c6f .elementor-nav-menu--main .elementor-item {
    color: #FFFFFF;
    fill: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
}

.elementor-23 .elementor-element.elementor-element-d3b6c6f .elementor-nav-menu--main .elementor-item:hover,
.elementor-23 .elementor-element.elementor-element-d3b6c6f .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-23 .elementor-element.elementor-element-d3b6c6f .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-23 .elementor-element.elementor-element-d3b6c6f .elementor-nav-menu--main .elementor-item:focus {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-d3b6c6f .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-23 .elementor-element.elementor-element-d3b6c6f .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: #86FF00;
}

.elementor-23 .elementor-element.elementor-element-d3b6c6f .e--pointer-framed .elementor-item:before,
.elementor-23 .elementor-element.elementor-element-d3b6c6f .e--pointer-framed .elementor-item:after {
    border-color: #86FF00;
}

.elementor-23 .elementor-element.elementor-element-d3b6c6f .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-d3b6c6f .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-23 .elementor-element.elementor-element-d3b6c6f .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
    background-color: #FA1700;
}

.elementor-23 .elementor-element.elementor-element-d3b6c6f .e--pointer-framed .elementor-item.elementor-item-active:before,
.elementor-23 .elementor-element.elementor-element-d3b6c6f .e--pointer-framed .elementor-item.elementor-item-active:after {
    border-color: #FA1700;
}

.elementor-23 .elementor-element.elementor-element-d3b6c6f .e--pointer-framed .elementor-item:before {
    border-width: 2px;
}

.elementor-23 .elementor-element.elementor-element-d3b6c6f .e--pointer-framed.e--animation-draw .elementor-item:before {
    border-width: 0 0 2px 2px;
}

.elementor-23 .elementor-element.elementor-element-d3b6c6f .e--pointer-framed.e--animation-draw .elementor-item:after {
    border-width: 2px 2px 0 0;
}

.elementor-23 .elementor-element.elementor-element-d3b6c6f .e--pointer-framed.e--animation-corners .elementor-item:before {
    border-width: 2px 0 0 2px;
}

.elementor-23 .elementor-element.elementor-element-d3b6c6f .e--pointer-framed.e--animation-corners .elementor-item:after {
    border-width: 0 2px 2px 0;
}

.elementor-23 .elementor-element.elementor-element-d3b6c6f .e--pointer-underline .elementor-item:after,
.elementor-23 .elementor-element.elementor-element-d3b6c6f .e--pointer-overline .elementor-item:before,
.elementor-23 .elementor-element.elementor-element-d3b6c6f .e--pointer-double-line .elementor-item:before,
.elementor-23 .elementor-element.elementor-element-d3b6c6f .e--pointer-double-line .elementor-item:after {
    height: 2px;
}

.elementor-23 .elementor-element.elementor-element-d3b6c6f .elementor-nav-menu--dropdown a,
.elementor-23 .elementor-element.elementor-element-d3b6c6f .elementor-menu-toggle {
    color: #0D1E65;
}

.elementor-23 .elementor-element.elementor-element-d3b6c6f .elementor-nav-menu--dropdown a:hover,
.elementor-23 .elementor-element.elementor-element-d3b6c6f .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-23 .elementor-element.elementor-element-d3b6c6f .elementor-nav-menu--dropdown a.highlighted,
.elementor-23 .elementor-element.elementor-element-d3b6c6f .elementor-menu-toggle:hover {
    color: #FA1700;
}

.elementor-23 .elementor-element.elementor-element-d3b6c6f .elementor-nav-menu--dropdown a:hover,
.elementor-23 .elementor-element.elementor-element-d3b6c6f .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-23 .elementor-element.elementor-element-d3b6c6f .elementor-nav-menu--dropdown a.highlighted {
    background-color: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-d3b6c6f .elementor-nav-menu--dropdown a.elementor-item-active {
    color: #FA1700;
    background-color: #FFFFFF;
}

.elementor-23 .elementor-element.elementor-element-d3b6c6f .elementor-nav-menu--dropdown .elementor-item,
.elementor-23 .elementor-element.elementor-element-d3b6c6f .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-23 .elementor-element.elementor-element-d3b6c6f div.elementor-menu-toggle {
    color: #FA1700;
}

.elementor-23 .elementor-element.elementor-element-d3b6c6f div.elementor-menu-toggle svg {
    fill: #FA1700;
}

.elementor-23 .elementor-element.elementor-element-d3b6c6f div.elementor-menu-toggle:hover {
    color: #FA1700;
}

.elementor-23 .elementor-element.elementor-element-d3b6c6f div.elementor-menu-toggle:hover svg {
    fill: #FA1700;
}

.elementor-bc-flex-widget .elementor-23 .elementor-element.elementor-element-5b733c8.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-5b733c8.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-23 .elementor-element.elementor-element-b8f418d .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #040E18;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #86FF00;
    border-radius: 25px 25px 25px 25px;
}

.elementor-23 .elementor-element.elementor-element-b8f418d .elementor-button:hover,
.elementor-23 .elementor-element.elementor-element-b8f418d .elementor-button:focus {
    color: #86FF00;
}

.elementor-23 .elementor-element.elementor-element-b8f418d .elementor-button:hover svg,
.elementor-23 .elementor-element.elementor-element-b8f418d .elementor-button:focus svg {
    fill: #86FF00;
}

.elementor-23 .elementor-element.elementor-element-b8f418d {
    width: var(--container-widget-width, 50%);
    max-width: 50%;
    --container-widget-width: 50%;
    --container-widget-flex-grow: 0;
}

.elementor-23 .elementor-element.elementor-element-52e492c .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #040E18;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #86FF00;
    border-radius: 25px 25px 25px 25px;
}

.elementor-23 .elementor-element.elementor-element-52e492c .elementor-button:hover,
.elementor-23 .elementor-element.elementor-element-52e492c .elementor-button:focus {
    color: #86FF00;
}

.elementor-23 .elementor-element.elementor-element-52e492c .elementor-button:hover svg,
.elementor-23 .elementor-element.elementor-element-52e492c .elementor-button:focus svg {
    fill: #86FF00;
}

.elementor-23 .elementor-element.elementor-element-52e492c {
    width: var(--container-widget-width, 50%);
    max-width: 50%;
    --container-widget-width: 50%;
    --container-widget-flex-grow: 0;
}

@media(max-width:767px) {
    .elementor-23 .elementor-element.elementor-element-3a99063e {
        width: 70%;
    }

    .elementor-23 .elementor-element.elementor-element-5caaa9b9 img {
        
        max-width: 70%;
    }

    .elementor-23 .elementor-element.elementor-element-5eb08e8f {
        width: 30%;
    }

    .elementor-23 .elementor-element.elementor-element-d3b6c6f .elementor-nav-menu--dropdown .elementor-item,
    .elementor-23 .elementor-element.elementor-element-d3b6c6f .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: 13px;
    }

    .elementor-23 .elementor-element.elementor-element-5b733c8 {
        width: 30%;
    }
}

@media(min-width:768px) {
    .elementor-23 .elementor-element.elementor-element-3a99063e {
        width: 20.046%;
    }

    .elementor-23 .elementor-element.elementor-element-5eb08e8f {
        width: 51.991%;
    }

    .elementor-23 .elementor-element.elementor-element-5b733c8 {
        width: 27.629%;
    }
}